<footer>
    <div class="footercontainer">
     <div class="fleft">
       <a href="https://www.youtube.com/"><span><i class="fab fa-youtube"></i></span></a>
       <a href="https://twitter.com/"><span><i class="fab fa-twitter"></i></span></a>
       <a href="https://www.instagram.com/"><span><i class="fab fa-instagram"></i></span></a>
     </div>
 
     <div class="fright">
      <a href="">xxx</a>
      <a href="/">home</a>
     </div>
    </div>
     
 </footer>