<header>
    <div class="navbar">
        <div class="leftbar">
        <h1>codeial</h1>
        </div>
        
        <div class="rightbar">
            <% if(locals.user){%>
        <a href="/user/signin"><span><i class="fas fa-user"></i></span><%=user.name%></a>
        <a href="/user/signout">signout</a>

        <%}else{%>
        <a href="/user/signin">signin</a>  
        <a href="/user/signup">signup</a>

        <%}%>
        </div>


        </div>

<!-- 
<ul>
    <% if(locals.user){%>
    <li><%=user.name%></li>
    <li>
    <a href="/user/signout">signout</a>
    </li>
    
    <%}else{%>
    
        <li>
          <a href="/user/signin">signin</a>  
        </li>
        <li>
            <a href="/user/signup">signup</a>
        </li>
    <%}%>
    
    
    </ul> -->


</header>