<link rel="stylesheet" href="/css/chatengine.css">

<div id="chatcontainer">
<div class="chattop">
<ul id="messages">
<li class="other-message">other message</li>
<li class="self-message">my message</li>
</ul>
</div>
<div class="chatbtm">
<input type="text" name="" id="chatmsg" placeholder="enter your message">
<input type="submit" value="Send" id="send-message">
</div>

</div>


