<link rel="stylesheet" href="/css/chatengine.css">

<div id="chatcontainer">
<div class="chattop">
<ul id="messages">
<li class="other-message">other message</li>
<li class="self-message">my message</li>
</ul>
</div>
<div class="chatbtm">
<input type="text" name="" id="chatmsg" placeholder="enter your message">
<input type="submit" value="Send" id="send-message">
</div>

</div>



<!-- 
<div class="card" id="chat2">
    <div class="card-header d-flex justify-content-between align-items-center p-3">
      <h5 class="mb-0">Chat</h5>
      <button type="button" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">Let's Chat
        App</button>
    </div>
    <div class="card-body" id="user-cards" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">

    </div>
    <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
        alt="avatar 3" style="width: 40px; height: 100%;">
      <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
        placeholder="Type message">
      <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
      <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
      <input type="submit" value="Send" id="send-message">
    </div>
  </div> -->
