
<link rel="stylesheet" href="/css/home.css">
<div class="maincontainer">
    
        <div class="content">
            <h1>codeial/homepage</h1>
            <%if(locals.user){%>
            <form action="/post/createpost" id="new-post-form" method="post">
                <textarea name="content"  cols="30" rows="3"></textarea>
                <input type="submit" value="post">
                </form>
                <%}%>
        </div>
 

    <div class="right">
        <h2>Friends</h2>
        <% for (u of all_users) {%>
        
        <!-- //link to the profile of user -->
        <div class="chip"> <p><span><i class="fas fa-user"></i></span><a href="/user/userprofile/<%=u.id%>" class="userfriend"><%=u.name%></a> </p> </div> 
        
        <%}%>

    </div>

    
</div>
    
    <section>
    
        <div id="post-container" class="post">
            <%for(post of posts){%>
             
             <%- include('_post')  -%>
    
            <%}%>
            </div>
    </section>

<script src="/js/home_post.js"></script>