#chatcontainer {
  border: 2px dotted black;
  display: flex;
  flex-direction: column;
  width: 400px;
  position: sticky;
  bottom: 0px;
  left: 805px;
  height: 260px;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: space-between;
  background-color: #f9f6f6; }

.chattop {
  margin-top: 15px;
  color: whitesmoke; }
  .chattop ul {
    list-style-type: none; }
  .chattop .other-message {
    margin: 3px 0px;
    width: 50%;
    font-size: 1.2rem;
    background-color: #ff6f6f; }
  .chattop .self-message {
    margin: 10px 0px;
    width: 50%;
    font-size: 1.2rem;
    position: relative;
    left: 150px;
    background-color: #45ade4; }

.userenter {
  margin: 30px 0px;
  width: 80%;
  font-size: 1.2rem;
  height: 30px;
  background-color: #7d7d7d;
  color: white; }

#chatmsg {
  width: 60%;
  border: 2px solid black;
  outline-color: #007ade; }

#send-message {
  background-color: #3cbb3c;
  width: 150px;
  border: none;
  font-size: 1.2rem;
  color: white; }

.chatbtm {
  display: flex; }
